/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Digital-7;
    src: url(digital-7/digital-7.ttf)
}

:root {
    /* Canvas */
    --canvas: rgb(48, 48, 68);
    /* Calc */
    --calc-border: 1px solid rgb(43, 43, 43);
    --calc-bg: rgb(71, 71, 71);
    --calc-boxShw: 0 4px rgb(43, 43, 43);
    /* Display */
    --display-bg: rgb(35, 36, 41);
    --display-boxShw: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
    --display-digits: rgb(226, 229, 231);
    /* Digits */
    --digit-col: white;
    --digit-inset-boxShw: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.6);
    --digit-bg: #a79fbd;
    --digit-boxShw: 0 4px #726c80;
    /* operators */
    --operators-bg: rgb(3, 175, 175);
    --operator-boxShw: 0 4px rgb(4, 138, 138);
    /* functions */
    --function-bg: #675691;
    --function-boxShw: 0 4px #4a3e69;
    /* control */
    --control-bg: rgb(151, 56, 85);
    --control-boxShw: 0 4px rgb(109, 38, 59);
    
}

.canvas {
    height: 100vh;
    width: 100vw;
    background-color: var(--canvas);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculator styles */

.calculator {
    display: flex;
    flex-direction: column;
    border: var(--calc-border);
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--calc-bg);
    width: 250px;
    box-shadow: var(--calc-boxShw);
}

.display {
    width: 100%;
    height: 70px;
    background-color: var(--display-bg);
    padding: .5rem;
    box-shadow: var(--display-boxShw);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--display-digits);
    font-family: Digital-7;
    font-size: 47px;
}

.calc-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 8px;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    justify-items: center;
    gap: 6px;

}

/* Buttons */

button {
    width: 100%;
    border-radius: 6px;
    padding: 4px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--digit-col);
}

button:active {
    box-shadow: none;
    transform: translateY(4px);
    box-shadow: var(--digit-inset-boxShw);
}

.digit {
    background-color: var(--digit-bg);
    box-shadow: var(--digit-boxShw);
}

.double {
    flex: 2;
}

.operator {
    background-color: var(--operators-bg);
    box-shadow: var(--operator-boxShw);
}

.function {
    background-color: var(--function-bg);
    box-shadow: var(--function-boxShw);
}

.control {
    background-color: var(--control-bg);
    box-shadow: var(--control-boxShw);
    font-size: 18px;
}

.material-symbols-outlined {
    font-size: 21px !important;
}











